@media (max-width:920px) {
    .meme-editor {
        flex-direction: column;
    }
    .controller {
        height: 300px;
        width: 400px;
    }
    .main-header>ul>:first-child {
        margin-inline-start: 50px;
    }
    .main-header>ul>:nth-child(2) {
        margin-inline-start: 35px;
    }
    .meme-editor {
        margin-top: 60px;
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (min-width:600px) {
    .main-layout {
        max-width: 560px;
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .main-header>ul>:first-child {
        margin-inline-start: 50px;
    }
    .main-header>ul>:nth-child(2) {
        margin-inline-start: 35px;
    }
}

@media (min-width:720px) {
    .main-layout {
        max-width: 680px;
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

@media (min-width:920px) {
    .main-layout {
        max-width: 860px;
    }
    .line-input {
        width: 90%;
    }
    .controller {
        width: 40%;
    }
    .controller {
        height: 404px;
    }
}

@media (min-width:1300px) {
    .main-layout {
        max-width: 920px;
    }
}