@media (max-width:920px) {
    .gallery-img {
        max-width: 380px;
        max-height: 380px;
    }
    .meme-editor {
        flex-direction: column;
        /* margin-top: 20px; */
    }
    .controller {
        height: 300px;
    }
}

@media (min-width:600px) {
    .main-layout {
        max-width: 560px;
    }
    .gallery-img {
        max-width: 160px;
        max-height: 160px;
    }
}

@media (min-width:720px) {
    .main-layout {
        max-width: 680px;
    }
    .gallery-img {
        max-width: 175px;
        max-height: 175px;
    }
}

@media (min-width:920px) {
    .main-layout {
        max-width: 860px;
    }
    .line-input {
        width: 90%;
    }
    .controller {
        width: 40%;
    }
    .controller {
        height: 404px;
    }
}