.round-btn {
    font-family: Poppins;
    width: 90px;
    padding: 5px;
    background-color: #06FF00;
    border-radius: 15px;
    border: none;
    /* border: none; */
    /* margin: 0 3px; */
}

.round-btn:hover {
    /* border-color: rgba(255, 255, 255, 1); */
    color: aliceblue;
    cursor: pointer;
}


/* 
.social-btn {
    width: 95px;
    height: 25px;
} */

.upload-btn {
    width: fit-content;
}

.size-btn {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border: 1px solid #DDDDDD;
}

.size-btn:hover {
    background-color: #cec7c7;
    cursor: pointer;
}