.contoroller {
    background-color: bisque;
    width: 350px;
    height: 500px;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8, 1fr);

}

.line-control{
/* background-color: red; */
grid-column: 3/4;
grid-row: 2/3;

}

.txt-input{
    grid-column: 2/3;
    grid-row: 2/3;

}

.color-control{
    grid-column: 2/4;
    grid-row: 3/5;


}
.font-control{
    grid-column: 1/2;
    grid-row: 4/5;

}