.gallery-container {
    background-color: aqua;
    position: absolute;
    z-index: 1;
    height: 90vh;
    transition: transform 0.7s;
}

.gallery-img {
    max-width: 200px;
    max-height: 200px;
}

.slide-down {
    transform: translateY(100%);
}

.lock{
    overflow: hidden;
}