.gallery-container {
    background-color: white;
    position: absolute;
    display: grid;
    gap: 10px;
    column-gap: 10px;
    z-index: 2;
    transition: transform 0.3s;
    top: 7vh;
    width: 100%;
    min-height: fit-content;
    padding: 20px;
}

.slide-down {
    transform: translateY(150%);
}

.lock {
    overflow: hidden;
}

.gallery-img {
    border-radius: 5px;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease;
}

.gallery-img:hover {
    background: aqua;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}