.gallery-container {
    background-color: var(--dark);
    position: absolute;
    z-index: 1;
    height: 90vh;
    transition: transform 0.7s;
    padding-top: 15px;
}

.gallery-img {
    max-width: 175px;
    max-height: 175px;
}

.slide-down {
    transform: translateY(100%);
}

.lock {
    overflow: hidden;
}