.main-header {
    font-family: Luckiest;
    height: 7vh;
    background-color: var(--yellow);
    justify-content: flex-end;
    font-size: 1.4rem;
}

.main-header>ul>* {
    margin-inline-end: 50px;
}

.main-header>ul>* {
    transition: 0.5s;
}

.main-header>ul>*:hover {
    transform: scale(1.2);
}