.main-header {
    font-family: Poppins;
    height: 7vh;
    background-color: white;
    justify-content: flex-start;
    font-size: 1.3rem;
    width: 100vw;
    position: fixed;
    z-index: 5;
    border: 1px solid #DDDDDD;
}

.main-header>ul>* {
    height: 7vh;
}

.main-header>ul>*:hover {
    font-weight: 600;
    box-shadow: inset 0 -4px #06FF00;
}


/* .main-header>ul> */