@font-face {
    font-family: Luckiest;
    src: url(/fonts/LuckiestGuy/LuckiestGuy-Regular.ttf)
}

@font-face {
    font-family: Balsamiq;
    src: url(/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf)
}

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins/Poppins-Regular.ttf)
}

@font-face {
    font-family: Roboto-light;
    src: url(/fonts/Roboto/Roboto-Light.ttf)
}